<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312954905376-d6bbj2oh9h50otaj2pg866iq4j1hh7am.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312954905376-d6bbj2oh9h50otaj2pg866iq4j1hh7am</string>
	<key>API_KEY</key>
	<string>AIzaSyAFIDGOExl4-gngaTOVjV8rkzMGr3wq0uA</string>
	<key>GCM_SENDER_ID</key>
	<string>312954905376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poornachandra.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-85243</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-85243.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312954905376:ios:385770e6911666b1</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-85243.firebaseio.com</string>
</dict>
</plist>